.bill-main{
    margin-top: 85px;
}

.bill-main-title{
    margin-bottom: 35px;
}

.MuiCardHeader-root{
    background-color: rgb(245, 245, 245);
}

.MuiTypography-root{
    font-size: 15px !important;
    font-weight: 600 !important;
}

.bill-form{
    margin-bottom: 30px;
}